# Ignore build output directories for .NET
**/bin/
**/obj/
**/out/

# Ignore build output directories for React
**/build/
**/dist/

# Ignore node_modules for React
**/node_modules/

# Ignore IDE-specific files
.vscode/
.idea/
*.swp

# Ignore temporary files
**/*.tmp
**/*.log
**/*.lock
**/*.pid

# Ignore user-specific files
**/*.user
**/*.suo

# Ignore test results
**/TestResults/

# Ignore environment files
.env
.env.*

# Ignore Git-related files
.git/
.gitignore

# Ignore documentation and README files
README.md
